.actions-bar {
    display: flex;
    gap: 14px;

}
.btn-add, .btn-substract {
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    margin: 5px;
    transition: background-color .4s;
    align-self: center;
}
.delete-btn  {
    align-self: start;
    border: none;
    border-radius: 5px;
    padding: 4px;
    color: #1f1c1c;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}
.delete-btn:hover {
    color: rgb(133, 0, 0);
    transition: color .4s;
}

.product-incart-img {
    max-width: 40%;
    height: 100%;
    object-fit: contain;
}
.img-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225.7px;
    width: 30%;
}

.btn-add {
    background-color: rgb(62, 150, 233);
}
.btn-substract {
    background-color: rgb(230, 70, 70);
}
.btn-substract:hover {
    background-color: rgb(180, 35, 45);
}
.btn-add:hover { 
    background-color: rgb(37, 116, 189);
}
.price-text {
    color: #05f;
    font-size: 20px;
    font-weight: 400;
    /* width: 40%; */
}
.amount-text {
    font-size: 18px;
    align-self: center;
}
.product-name {
    font-size: 25px;
}
.product-incart-card {
    display: flex;
    box-shadow: 0 0 10px #918888;
    border-left: 10px solid #d20de4;
    border-radius: 10px;
    height: max-content;
    margin: 10px;
    width: 95%;
    /* justify-content: space-between; */
    align-items: center;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cont {
    display: flex;
    /* align-items: center;     */
    /* justify-content: end; */
    justify-content: end;
    margin-right: 40px;
    gap: 20px;
    flex-grow: 1;

}
.product-price-delete {
    display: flex;
    justify-content: center;
    align-items: center;

}