.message {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
} 

.empty-cart {
    width: 25%;
}
.finish-purchase {
    display: flex;
    justify-content: end;
    margin: 10px 15px;
}
.total {
    display: flex;
    justify-content: space-between;
}
.btn-finalizar {
    padding: 10px;
    width: 30%;
    background-color: #4494c9;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.message a {
    background: #9b54f7d2;
    border: none;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: background-color .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.cart-content {
    display: flex;
    justify-content: center;
}
.message a:hover {
    background: #7121dad2;
}
.total-purchase {
    border-radius: 0 0 20px 20px;
    color: #fff;
    background-color: #a17cc0;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 30px;
    /* align-items: center; */
}
.total-purchase-title-container {
    flex-grow: 1;
    display: flex;
    justify-content: end;
}